

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 430px;
  margin: 0 auto;
  height: 100%;
  padding-top: 0px;
}

#quiz {
  background-color: #34495E;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 10%;
  color: #fff;
  text-align: center;
  box-shadow: 6px 8px #243445;
}

#quiz > h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 400;
}

.questions {
  font-size: 28px;
  font-weight: 700;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 20px;
}

.btn {
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 100px;
  position: relative;
  transition: all 0.3s;
  padding-top: 10px;
  text-decoration: none;
}

.btn-2 {
  background: #4b5f74;
  color: #fff;
  box-shadow: 4px 6px #243445;
  transition: none;
}

.btn-2i {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
}

.btn-2i:hover {
  box-shadow: 2px 4px #243445;
  top: 2px;
}

.btn-2i:active {
  box-shadow: 0 0 #243445;
  top: 6px;
}


